@import url("../../packages/fonts/FontsFree-Net-Monster-School.ttf");
@import url("../../packages/fonts/FontsFree-Net-Monster-School.ttf");

@font-face {
  font-family: my_font;
  src: url(../../packages/fonts/FontsFree-Net-Monster-School.ttf);
}

@import url("../../packages/fonts/AmaticSC-Bold.ttf");
@import url("../../packages/fonts/AmaticSC-Bold.ttf");

@font-face {
  font-family: font;
  src: url(../../packages/fonts/AmaticSC-Bold.ttf);
}

body {
  background-color: black;
}

#file {
  margin-left: 20%;
  text-align: center;
  position: relative;
  margin-top: 20px;
  width: 60%;
  padding-bottom: 50px;
  box-shadow: 0 2px 2px 2px #D8AC5A;
 

}

#step_1,
#step_2,
#step_3,
#step_4 {
  background: black;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 2px 2px 2px #D8AC5A;
  padding: 20px 40px 30px 40px;
  box-sizing: border-box;
  width: 70%;
  margin: 0 15% 20px 15%;
}

.form-card>input,p,.pay {
  outline: none;
  background-color: black;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #D8AC5A;
  width: 100%;
  margin-top: 5%;
  font-family: font;
  color:white;
  font-size: 150%;
}
.pay{
  color: #D8AC5A;
}

.title {
  color: #D8AC5A;
  font-family: font;
  font-size: 200%;
}

h1 {
  font-family: my_font;
  color: #D8AC5A;
  font-size: 500%;
  font-weight: normal;
}

.pay {
  text-align: left;
  white-space: nowrap;
}

/* העיצוב של האייקון לאחר השינוי */
.k {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: black;
  background: #D8AC5A;
  border-radius: 50%;
  margin-left: 45%;
  margin-bottom: 5%;
  animation-name: ikonAnimatia;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

@keyframes ikonAnimatia {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

/* עיצוב הכפתורים */
#nextStep_1,
#nextStep_2,
#nextStep_3 {
  font-family: font;
  font-size: 200%;
  background-color: #D8AC5A;
  margin-top: 4%;
}

#previous_2,
#previous_3 {
  font-family: font;
  font-size: 200%;
  background-color: rgb(53, 48, 48);
  color: #D8AC5A;
  margin-top: 10%;
}

#step_4>.form-card>img {
  height: 50%;
  width: 45%;
}

#step_4>.form-card>span {
  color: #D8AC5A;
}

.col-1,.col-2,.row>.col-3 {
  width: 10%;
}
.col-2{
  margin-left: 30%;
}
.col-1>#cardno{
  width: 350%;
}
.col-1>#cardno,
.col-2>#cvcpwd,
.row>.col-3>#inputDate {
  outline: none;
  background-color: black;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #D8AC5A;
  font-family: font;
  color: white;
  font-size: 150%;
}
#row{
display: flex;
}
#userName{
  color: #D8AC5A;
  margin-right: 3%;
  margin-left: 3%;
 }
#userName>a{
  font-size: 15px;
  text-decoration: none;
  color:  #D8AC5A;
}
#userName>a>i{
  margin-left: 2%;
}