@import url("../../packages/fonts/AmaticSC-Bold.ttf");
@import url("../../packages/fonts/AmaticSC-Bold.ttf");
@font-face{
  font-family: font;
  src: url(../../packages/fonts/AmaticSC-Bold.ttf);
}
#nav,#time{
  font-family: 'Segoe UI';
}

.offcanvas-body{
  z-index: 99999;
}
.card{
  display: inline;
}
#allImages{
  position: absolute;
  margin-right: 15%;
  display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 5fr 6fr;
    grid-gap: 5px;
    margin-top: 9%; 
}

#allImages>.clickImg>img{
  height: 70%;
  width: 75%;
  border-radius: 3%;
}
#allImages>#barim-flowers>img,
#allImages>#bed-rooms>img{
    height: 70%;
    width: 87%;
    
}
.hidden{
  display: none;
}
#imageContainer>i{
  font-size: 30px;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  color: #D8AC5A;
  display: block;
}
p{
  margin-right: 24%;
  color: #D8AC5A;
  font-family: font;
  font-size: 160%;
}
#allImages>#barim-flowers,
#allImages>#home-styling,
#allImages>#marazim,
#allImages>#bed-rooms{
  grid-gap: 0;
}
#title>h2{
  margin-top: 2%; 
  position: absolute;
  color: #D8AC5A;
  font-family: font;
  font-size: 280%;
  margin-right: 40%;
  z-index: 9999;
}
#title>h2>i{
  color: #D8AC5A;
  font-size: 80%;
}
@media (max-width: 900px){
  #title>h2{
    font-size: 140%;
  }
  p{
    margin-right: 15%;
    font-size: 120%;
  }
}
@media (max-width: 600px){
  p{
    margin-right: 15%;
    font-size: 100%;
  }
}